@model Freelance.Models.User
@{
    ViewBag.Title = "ChangePassword";
    if (Session["Role"].Equals("Client"))
    {
        Layout = "~/Views/Shared/_Factory.cshtml";

    }
    else if(Session["Role"].Equals("Freelancer"))
    {
        Layout = "~/Views/Shared/_Wall.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_DashBoard.cshtml";

    }
    if (Session["Username"] != null)
    {
        if (Session["Username"] == null)
        {
            Response.Redirect("~/User/Login");

        }
    }
}

<br />
<br />
<h4 class="title-of-page"> <i class="fas fa-user"></i> <strong>CHANGE PASSWORD</strong></h4>
<br />
<br />
<br />
<form id="Edit">

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control pas" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control pas" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>






        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Save" class="btn btn-success" id="sub" />
            </div>
        </div>

    </div>
</form>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script>
        $(document).ready(function () {
            $("#sub").click(function (e) {
                var myData = $("#Edit").serialize();
                if ($("#Edit").valid()) {
                    $.ajax({
                        url: "/User/ChangePassword",
                        type: "POST",
                        data: myData,
                        success: (res) => {
                            if (res.result == 1) {
                                toastr.success(res.message, "Success Alert",  { timeOut: 2000 , "closeButton": true});
                                $('#Edit').each(function () {
                                    this.reset();
                                });
                            } else if (res.result == 0) {
                                toastr.info(res.message, "Failed Alert", { timeOut: 2000, "closeButton": true });

                            } else {
                                toastr.info(res.message, "Failed Alert", { timeOut: 2000, "closeButton": true });

                            }

                        }
                    });
                }
            });
        });
    </script>
}